<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<groups>
			<run>
				<include name="auth" />
				<include name="getUsers" />
				<include name="createUser" />			
				<include name="updateUser" />
			</run>
		</groups>
		<classes>
			<class name="org.testing.Base.BaseClass" />
			<class name="org.testing.TestScripts.GenerateAccessToken" />
			<class name="org.testing.TestScripts.UserAPIs_GetUser" />
			<class name="org.testing.TestScripts.CreateUserSync" />
			<class name="org.testing.TestScripts.UpdateUserSync" />
		</classes>
	</test>
</suite>